* {
    margin: 0;
    padding: 0;
}

.SignIn {
    background: linear-gradient(45deg, #ff6b6b30, #4ecdc430);
    font-family: 'Poppins', sans-serif;
    color: #292828;
    min-height: 100vh;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
    
.redirection {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
}

.haveAccount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    background: #58d7cf;
    margin: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s , background-color 0.2s ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
    transform: scale(1.05);
    background-color: #36aca4;
    box-shadow: 0 5px 20px rgba(78,205,196,0.3);
}

