* {
    margin: 0;
    padding: 0;
}

.Library {
    /* background-color: #e6e7e2; */
    background: linear-gradient(45deg, #ff6b6b30, #4ecdc430);
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e;
    min-height: 100vh;
    width: 100%;
}

.main {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
} 
